/* Courtesy of https://www.w3schools.com/w3css/w3css_templates.asp */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Lato", sans-serif; */
}

/* .w3-bar, */
/* h1, */
button {
  /* font-family: "Montserrat", sans-serif; */
}

.zodiac-icons img {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

/* .fa-anchor,
.fa-coffee {
  font-size: 200px;
} */

.inputs {
  border-radius: 5px;
  /* cursor: pointer; */
  /* font-family: inherit; */
  /* padding: 6px 12px; */
  /* margin: 5px; */
  /* font-size: 16px; */
}

#horoscope-container {
  /* border-radius: 5px; */
  /* padding: 20px; */
  /* border: 2px solid black; */
  /* width: 100%; */
  /* max-width: 600px; */
}

#generate-horoscope-button {
  /* border-radius: 5px; */
  /* cursor: pointer; */
  /* font-family: inherit; */
  /* padding: 6px 12px; */
  /* margin: 5px; */
  /* font-size: 16px; */
}
#generate-horoscope-button:hover {
  /* background-color: yellow; */
}

#peculiar-albert {
  display: none;
  /* font-size: 20px; */
  text-align: center;
}
